<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

    <div fxFlex="40" *ngIf="dish">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>{{dish.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
        <mat-card-content>
          <p>{{dish.description}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/dishdetail', prev]">
            <span class="fa fa-chevron-left fa-lg"></span>
          </button>
          <button mat-button (click)="goBack()">BACK</button>
          <button mat-button>Like</button>
          <button mat-button>Share</button>
          <span class="flex-spacer"></span>
          <button mat-button [routerLink]="['/dishdetail', next]">
            <span class="fa fa-chevron-right fa-lg"></span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div fxFlex="40" *ngIf="dish">
      <mat-list>
        <h2>Comments</h2>
        <mat-list-item *ngFor="let comment of dish.comments">
          <p matLine>{{comment.comment}}</p>
          <p matLine>{{comment.rating}} Stars</p>
          <p matLine>-- {{comment.author}} {{comment.date | date}}</p>
        </mat-list-item>
      </mat-list>
      <mat-list *ngIf="commentForm.valid">
        <mat-list-item>
          <p matLine>{{commentForm.value.comment}}</p>
          <p matLine>{{commentForm.value.rating}} Stars</p>
          <p matLine>-- {{commentForm.value.author}}</p>
        </mat-list-item>
      </mat-list>
      <div>
        <form novalidate [formGroup]="commentForm" #cform="ngForm" (ngSubmit)="doSubmit()">
          <p>
            <mat-form-field class="full-width">
              <input matInput formControlName="author" placeholder="Name" type="text" required>
              <mat-error *ngIf='formErrors.author'>{{ formErrors.author }}</mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-slider formControlName="rating" min="1" max="5" step="1" thumbLabel tickInterval="1"></mat-slider>
          </p>
          <p>
            <mat-form-field class="full-width">
              <textarea matInput formControlName="comment" placeholder="Your Comment" rows="10"></textarea>
              <mat-error *ngIf='formErrors.comment'>{{ formErrors.comment }}</mat-error>
            </mat-form-field>
          </p>
          <button mat-button type="submit" class="background-primary text-floral-white" [disabled]="!commentForm.valid">Submit</button>
        </form>
      </div>
    </div>
    <div [hidden]="dish">
      <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
    </div>
</div>